body{

    background: rgb(209, 211, 86);
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

p{
    color: white;
    text-align: center;
    font-size: 50px;
}

#ola {
    color: rgb(10, 9, 9);
}
#tituloCertas{
    font: arial;
    font-size: 50px;    
    text-align: center;
    display: inline-block;
    justify-content: space-between;   

}
#tituloErradas{
    font: arial;
    font-size: 50px;    
    text-align: center;
    display: inline-block;
    justify-content: space-between;   

}

section p{
    color: black;
    font: arial;
    font-size: 50px;    
    text-align: center;
    justify-content: space-between;     
    
}
#certas {
    
    border: 5px solid;
    display: inline-block;
    background-color: white;
    padding: 200px;
}

#certa1{
    color: black;
}
#certa2{
    color: black;
}
#certa3{
    color: black;
}

#erradas {
    
    border: 5px solid;
    display: inline-block;
    background-color: white;
    padding: 200px;
}

#errada1{
    color: black;
}
#errada2{
    color: black;
}
#errada3{
    color: black;
}





